pipeline/API_Master_PL.json
{
	"name": "API_Master_PL",
	"properties": {
		"activities": [
			{
				"name": "Lookup pipeline run logs",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select is_last_run_completed from [healthcare].[pipeline_run_status] where pipeline_name = 'API_Master_PL'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_healthcare_sqlDB",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "check is_last_run_completed is 1 or not",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Lookup pipeline run logs",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Lookup pipeline run logs').output.firstRow ['is_last_run_completed'],1)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Set MasterPipelineRunID",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "masterPipelineRunID",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Update is_last_run_completed_to 0",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Set MasterPipelineRunID",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "LS_healthcare_sqlDB",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "UPDATE [healthcare].[pipeline_run_status] SET is_last_run_completed = 0, added_by ='@{variables('masterPipelineRunID')}' where pipeline_name = 'API_Master_PL'",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						},
						{
							"name": "Execute Ingestion PL",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Update is_last_run_completed_to 0",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pipeline1",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						},
						{
							"name": "load_json_bronze",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "Execute Ingestion PL",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/bushraavd02@gmail.com/healthcare/load_json_to_bronze_healthcare",
								"baseParameters": {
									"masterPipelineRunID": {
										"value": "@variables('masterPipelineRunID')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_adb_healthcare",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Load_bronze_to_silver",
							"type": "DatabricksNotebook",
							"state": "Inactive",
							"onInactiveMarkAs": "Skipped",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/bushraavd02@gmail.com/healthcare/Bronze_to_silver",
								"baseParameters": {
									"masterPipelineRunID": {
										"value": "@variables('masterPipelineRunID')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_adb_healthcare",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "load_silver_to_gold",
							"type": "DatabricksNotebook",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [
								{
									"activity": "Load_bronze_to_silver",
									"dependencyConditions": [
										"Skipped"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/bushraavd02@gmail.com/silver_to_gold_healthcare",
								"baseParameters": {
									"masterPipelineRunID": {
										"value": "@variables('masterPipelineRunID')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_adb_healthcare",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Update is_last_run_completed_to 1",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "load_json_bronze",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "LS_healthcare_sqlDB",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "UPDATE [healthcare].[pipeline_run_status] SET is_last_run_completed = 1, added_by ='@{variables('masterPipelineRunID')}' where pipeline_name = 'API_Master_PL'",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			}
		],
		"variables": {
			"masterPipelineRunID": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-04-04T15:28:07Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}